- name: Get join command
  shell: kubeadm token create --print-join-command
  register: join_command_raw
  delegate_to: "{{ groups['master'][0] }}"

- name: Set join command
  set_fact:
    join_command: "{{ join_command_raw.stdout }}"

- name: Join cluster
  shell: "{{ join_command }} > node_join.log"
  args:
    chdir: $HOME
    creates: node_join.log