[Global]
region={{ region }}
username={{ username }}
password={{ password }}
auth-url={{ auth-url }}
tenant-id={{ tenant-id }}
domain-id={{ domain-id }}

[LoadBalancer]
subnet-id={{ subnet-id }}
floating-network-id={{ floating-network-id }}
use-octavia={{ use-octavia }}

[BlockStorage]
bs-version=v2

[Networking]
public-network-name={{ public-network-name }}
ipv6-support-disabled={{ ipv6-support-disabled }}